.header-container {
  padding: 0.35rem 0 0 0.35rem;
  height: 1rem;
}

.back-btn {
  float: left;
}

.admin-header {
  padding-left: 45vw;
}

.admin-nav {
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.admin-nav-items {
  border-radius: 0.3rem;
  width: 50vw;
  text-align: center;
  text-decoration: none;
  color: rgb(88, 88, 89);
  padding: 1rem 0 0 0;
  font-size: large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-nav-items.active {
  color: antiquewhite;
  transition: 100ms ease-in-out;
}

.admin-nav-items:hover {
  color: rgb(45, 44, 46);
  transition: 400ms ease-in-out;
}
