.app-loader-container {
  text-align: center;
  position: fixed;
  top: 300px;
  right: 620px;
}

.specializations-error {
  padding-top: 0.5rem;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-weight: 700;
}
